<h1>Cart</h1>

<div class="empty-cart-message" *ngIf="cart.products.length === 0; else elseBlock">no items in cart</div>

<ng-template #elseBlock>
  <div class="cart">
    <div class="cart-items">
      <div class="cart-item" *ngFor="let product of cart.products">
        <img src="{{product.url}}" alt="">
        <div class="cart-item-details">
          <h5>{{product.name}}</h5>
          {{product.price}}

          {{product.amount}}
          <input type="number" [value]="product.amount" ngModel (ngModelChange)="changeAmount()">
        </div>
      </div>
    </div>

    <form class="form form-margin">
      <div class="form-input">
        <label for="name">Full name:</label> <br>
        <input type="text" id="name"> <br>
      </div>

      <div class="form-input">
        <label for="address">Address:</label> <br>
        <input type="text" id="address"> <br>
      </div>

      <div class="form-input">
        <label for="credit-cart">Credit cart number:</label> <br>
        <input type="text" id="credit-cart">
      </div>
    </form>

  </div>
  <h1 class="text-center">{{cart.total}}</h1>
</ng-template>

