<h1>Cart</h1>

<div class="cart-container">
  <div *ngIf="cartProducts.length === 0; else elseBlock">No products in cart</div>
  <ng-template #elseBlock>
    <form class="form form-margin">
      <label for="name">Full name:</label>
      <input type="text" id="name"> <br>

      <label for="address">Address:</label>
      <input type="text" id="address"> <br>

      <label for="credit-cart">Credit cart number:</label>
      <input type="text" id="credit-cart">
    </form>
  </ng-template>
</div>
