.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navigation li {
  margin: 0 5px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
